<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.nayeon.feastofjoy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_fi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActionActivity"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CountActivity"
            android:label="@string/title_activity_count"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name=".ShowRecordActivity"
            android:label="@string/title_activity_show_record" >
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer" >
        </activity>
    </application>

</manifest>
